<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cashonwise.cashonwise">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cashonwise"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PaymentActivity"
            android:label="@string/title_activity_payment"
            android:theme="@style/AppTheme.AppBarOverlay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.AppBarOverlay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".SuccessfulActivity" />
        <activity android:name=".ViewAccountActivity"
            android:label="Account Details"
            android:theme="@style/AppTheme.AppBarOverlay">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MenuActivity" />
        </activity>
        <activity android:name=".TransactionHistoryActivity" />
        <activity android:name=".TopUpActivity" />
        <activity
            android:name=".BalanceActivity"
            android:label="@string/title_activity_chkBalance"
            android:theme="@style/AppTheme.AppBarOverlay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".ChangePinActivity"
            android:label="@string/title_activity_changePin"
            android:theme="@style/AppTheme.AppBarOverlay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity android:name=".AddBankActivity"
            android:label="Add Bank Accoount"
            android:theme="@style/AppTheme.AppBarOverlay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
            </activity>
    </application>

</manifest>